@using MVCProject.Controllers
@model List<MVCProject.Models.UserEntity>
<table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
            <thead>
                <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
                    <th>
                        Full Name
                    </th>
                    <th>
                        Email ID
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody></tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(Model => item.User_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(Model => item.Email_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(Model => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(Model => item.Gender)
                    </td>
                    <td>
                    @Html.ActionLink("Edit","Edit", new { id=item.User_ID})
                    
                </td>
                    <td>
                        @*@using (Html.BeginForm("DeleteUser", "MultipleEntry", new { id = item.User_ID }))
        {

            <input type="submit" value="Delete" />

        }*@
                        <a href="@Url.Action("DeleteUser", new { item.User_ID})" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
    </tbody>

</table>

